In [3]:
import pandas as pd

from pydataset import data

1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [18]:
df_iris = data("iris")

* print the first 3 rows

In [93]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

* print the number of rows and columns (shape)

In [92]:
df_iris.shape

(150, 5)

* print the column names

In [91]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

* print the data type of each column

In [90]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

* print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [89]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
data("iris", show_doc=True)

#### I wouldn't recommend rescaling the data

2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [62]:
df_excel = pd.read_excel("../data-sets/Excel_Exercises.xlsx", sheet_name="Table1_CustDetails")

* assign the first 100 rows to a new dataframe, df_excel_sample

In [63]:
df_excel_sample = df_excel.head(100)

* print the number of rows of your original dataframe

In [88]:
df_excel.shape

(7050, 14)

* print the first 5 column names

In [87]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

* print the column names that have a data type of object

In [66]:
df_objects = df_excel.dtypes[df_excel.dtypes == object]
print(df_objects)

customer_id     object
gender          object
partner         object
dependents      object
payment_type    object
churn           object
dtype: object

* compute the range for each of the numeric variables.

In [67]:
df_excel.dtypes[df_excel.dtypes != object]

is_senior_citizen    float64
phone_service        float64
internet_service     float64
contract_type        float64
monthly_charges      float64
total_charges        float64
Unnamed: 12          float64
Unnamed: 13          float64
dtype: object

In [81]:
seniors = df_excel.is_senior_citizen
print(f"is_senior_citizen range:  {seniors.max() - seniors.min()}")

phone_service = df_excel.phone_service
print(f"phone_service range:  {phone_service.max() - phone_service.min()}")

internet = df_excel.internet_service
print(f"internet_service range:  {internet.max() - internet.min()}")

contract = df_excel.contract_type
print(f"contract_type range:  {contract.max() - contract.min()}")

monthly_charges = df_excel.monthly_charges
print(f"monthly_charges range:  {monthly_charges.max() - monthly_charges.min()}")

total_charges = df_excel.total_charges
print(f"total_charges range:  {total_charges.max() - total_charges.min()}")

is_senior_citizen range:  1.0
phone_service range:  2.0
internet_service range:  2.0
contract_type range:  2.0
monthly_charges range:  100.5
total_charges range:  8666.0

3. Read the data from this google sheet into a dataframe, df_google

In [83]:
sheet_url = "https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357"
csv_url = sheet_url.replace("edit#gid", "export?format=csv&gid")
print(csv_url)

df_google = pd.read_csv(csv_url)

https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357

* print the first 3 rows

In [85]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

* print the number of rows and columns

In [94]:
df_google.shape

(891, 12)

* print the column names

In [95]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

* print the data type of each column

In [96]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

* print the summary statistics for each of the numeric variables

In [ ]:
print(df_google.PassengerId.describe())
print("------------------------------")
print(df_google.Survived.describe())
print("------------------------------")
print(df_google.Pclass.describe())
print("------------------------------")
print(df_google.Age.describe())
print("------------------------------")
print(df_google.SibSp.describe())
print("------------------------------")
print(df_google.Parch.describe())
print("------------------------------")
print(df_google.Fare.describe())
print("------------------------------")

* print the unique values for each of your categorical variables

In [ ]:
print(df_google.Name.unique())

In [ ]:
print(df_google.Sex.unique())

In [ ]:
print(df_google.Ticket.unique())

In [ ]:
print(df_google.Cabin.unique())

In [ ]:
print(df_google.Embarked.unique())